{% extends 'admin/index.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block heading %}
    Projects

{% endblock %}
{% block breadcrumb%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('admin_dashboard')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Projects </li>
    </ol>
{% endblock %}


{% block content%}
<div class="row">


</div>
{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}

