{% extends 'admin/index.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block content%}
    <div class="row">

    </div>


{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}

