<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                {% trans %}main_title{% endtrans %}
            {% endblock %}
        </title>

        {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">#}
        <link rel="stylesheet" href="{{asset('build/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('build/css/baseStyles.css')}}">

 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}

        {% block javascripts %}
        <script src="{{asset('build/js/bootstrap.js')}}"></script>

        {% endblock %}
    </body>
</html>
