{% extends 'base.html.twig' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/admin/sidebar.css')}}">



{% endblock %}


{% block body %}

    <div class="sidebar">
        <div class="userImgContainer">
            <div class="userImg">
                <i class="fas fa-user userImgCenter"></i>
            </div>
        </div>
        <a class="active" href="#">Home</a>
        <a href="#">Users</a>
        <a href="#">Projects</a>

    </div>
    <div class="content">
        {% block content%}
    
        {% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}