@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

.height-100 {
    height:100%
}

.mg-bot-15px{
    margin-bottom: 15px;;

}

.pd-bot-10{
    padding-bottom:10%;
}

.top--15em{
    top:-15em;
}

.font-white{
    color:white;
}

.bold{
    font-weight: bold;
}

.v-align-mid{
    vertical-align: middle !important;
}