input[type=text]{
   width: 50%; 
   border:none;
   border-bottom: solid gray;
   border-width: 2px;
}

input:focus{
   outline:none;
}

textarea{
   width: 70%; 
   border-radius: 5px;
   border:solid gray;
   border-width: 2px;
}

.submit-button{
   padding: 10px 15px;
   background-color: rgb(246, 241, 241);
   border: solid rgb(246,241,241);
   border-width: 2px;
}