

.content{
    margin-left: 200px;
    max-width: 80%;
}

.content-heading{
    margin-top: 1em;;
    font-size: 4em;
    margin-left: 5%;
}
.breadcrumb{
    background-color: rgb(247, 247, 247);
    margin-left: 5%;
    width: 50%;

}