{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/index/index.css')}}">

{% endblock %}

{% block body %}
    <div class="sc-center">
        <h3 class="pd-bot-10">Leopoldo A. Estévez Agra</h3>
    </div>

    <a href="#aboutMe">
        <div id="arrow-wrapper" >
            <div class="arrow-border top--15em">
                <div class="arrow down">
                </div>
                <div class="pulse">
                </div>
            </div>
        </div>
    </a>

    <div id="aboutMe" class="diagonalImg">

    </div>
    
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}

