{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/index/index.css')}}">

{% endblock %}

{% block body %}
    <div class="container cach-phrase">
        <span class="cach-phrase-text">
            Hey! I'm Leo. I'm a software developer and a CS student at A Coruña University.
        </span>
    </div>

    <div class="container">
        <div class="image-cover">

        </div>
    </div>
    {#general image about me #}
    {#<img src="" alt="">#}

    <div class="container text-segment">
        <h3 class="title mb-5">
            About me
        </h3>
        <p class="basic-text">
        Elit aut fugiat esse aut adipisci Dicta impedit lorem sequi inventore eius!
        Necessitatibus illo aliquam libero quod adipisci animi debitis.

        </p>

        <p class="basic-text">
        Ipsum qui consequuntur corrupti fugiat itaque.
        Debitis accusantium unde maiores aliquid quaerat reiciendis eligendi totam
        Itaque rem voluptates eum eveniet modi ex, quasi! Alias ut pariatur asperiores perferendis animi ullam
        Quibusdam quibusdam molestias nam iste ipsum, magni. Vero neque debitis.
        </p>
    </div>
    <div class="container text-segment">
        <h3 class="title mb-5">
            What can I do ?
        </h3>
        <p class="basic-text">
        Elit aut fugiat esse aut adipisci Dicta impedit lorem sequi inventore eius!
        Necessitatibus illo aliquam libero quod adipisci animi debitis.

        </p>

        <p class="basic-text">
        Ipsum qui consequuntur corrupti fugiat itaque.
        Debitis accusantium unde maiores aliquid quaerat reiciendis eligendi totam
        Itaque rem voluptates eum eveniet modi ex, quasi! Alias ut pariatur asperiores perferendis animi ullam
        Quibusdam quibusdam molestias nam iste ipsum, magni. Vero neque debitis.
        </p>
    </div>

    <div class="container contact">
        <h3 class="title contact-title">
            Interested on what you just saw ?
        </h3>

        <div  class="email-me">
            <a href="#" class="mail-button">
                Send me a mail!
            </a>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}
