{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/index/index.css')}}">

{% endblock %}

{% block body %}
    <div class="sc-center">
        <h3 class="pd-bot-10">Leopoldo A. Estévez Agra</h3>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}

