{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/index/index.css')}}">

{% endblock %}

{% block body %}
    <div class="container cach-phrase">
        <span class="cach-phrase-text">
            Hey! I'm Leo. I'm a software developer and a CS student at A Coruña University.
        </span>
    </div>


    {#general image about me #}
    {#<img src="" alt="">#}

{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}
